# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
_site/
.jekyll-cache/
.sass-cache/
.bundle/
Gemfile.lock

# Node
node_modules/
npm-debug.log

# Misc
.env
.env.local
.env.*.local
*.log
